# 项目排除路径
/jeecg-boot-base-core/target/
/jeecg-module-assess/target/
/jeecg-module-common/target/
/jeecg-module-system/jeecg-system-api/jeecg-system-local-api/target/
/jeecg-module-system/jeecg-system-biz/target/
/jeecg-module-system/jeecg-system-start/target/