<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.business.AssessBusinessFillItemMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM assess_business_fill_item
        WHERE fill_id = #{mainId}
    </delete>

    <select id="selectByMainId" parameterType="java.lang.String"
            resultType="org.jeecg.modules.sys.entity.business.AssessBusinessFillItem">
        SELECT *
        FROM assess_business_fill_item
        WHERE fill_id = #{mainId}
    </select>


    <select id="selectByGatherId" resultType="org.jeecg.modules.sys.entity.business.AssessBusinessFillItem">
        select g.depart_code, g.score, g.report_depart
        from assess_business_fill_item g
                 inner join sys_depart d on d.id = g.report_depart
        where g.gather_id = #{gatherId}
        order by d.depart_order asc
    </select>
</mapper>
