<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.business.AssessBusinessCommendMapper">

    <select id="getAllCommend" resultType="org.jeecg.modules.sys.dto.CommendExportDTO">
        SELECT
            abc.current_year,
            sd.alias AS alias,
            abc.commend_unit,
            abc.commend_project,
            abc.commend_time
        FROM
            assess_business_commend abc
                JOIN
            sys_depart sd ON abc.department_code = sd.id
        WHERE
            abc.status = 0;
    </select>

    <select id="getDepartCommend" parameterType="java.lang.String" resultType="org.jeecg.modules.sys.dto.CommendExportDTO">
        SELECT
            abc.current_year,
            sd.alias AS alias,
            abc.commend_unit,
            abc.commend_project,
            abc.commend_time
        FROM
            assess_business_commend abc
                JOIN
            sys_depart sd ON abc.department_code = sd.id
        WHERE
            abc.status = 0
          AND abc.department_code = #{departId};
    </select>

</mapper>