<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.business.AssessBusinessLevelRatioMapper">

    <select id="getEnabled" resultType="org.jeecg.modules.sys.entity.business.AssessBusinessLevelRatio">
        SELECT * FROM assess_business_level_ratio WHERE enable = 1
    </select>
</mapper>