<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.annual.AssessDemocraticEvaluationMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM assess_democratic_evaluation
		WHERE evaluation_summary_id = #{mainId}
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.sys.entity.annual.AssessDemocraticEvaluation">
		SELECT *
		FROM assess_democratic_evaluation
		WHERE evaluation_summary_id = #{mainId}
	</select>
    <select id="getCountsBySummaryId" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM assess_democratic_evaluation
		WHERE evaluation_summary_id = #{summaryId}
	</select>
	<select id="getSumBySummaryId" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(score),0)
		FROM assess_democratic_evaluation
		WHERE evaluation_summary_id = #{summaryId}
	</select>
</mapper>
