<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.annual.AssessDemocraticEvaluationItemMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM assess_democratic_evaluation_item
        WHERE democratic_id = #{mainId}
    </delete>

    <select id="selectByMainId" parameterType="java.lang.String"
            resultType="org.jeecg.modules.sys.entity.annual.AssessDemocraticEvaluationItem">
        SELECT *
        FROM assess_democratic_evaluation_item
        WHERE democratic_id = #{mainId}
    </select>
</mapper>
