<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.sys.mapper.report.AssessReportDemocracyConfigItemMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM assess_report_democracy_config_item
        WHERE config_id = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String"
            resultType="org.jeecg.modules.sys.entity.report.AssessReportDemocracyConfigItem">
        SELECT *
        FROM assess_report_democracy_config_item
        WHERE config_id = #{mainId}    </select>
</mapper>
